<div class="row">
  <div class="medium-48">
    <p id="notice"><%= notice %></p>

    <h1>Setores</h1>

    <%= link_to 'Novo Setor', new_setor_path, class: 'button' %>
    <table>
      <thead>
        <tr>
          <th>Nome do Setor</th>
          <th>Letra</th>
          <th>Ultima Senha</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @setors.each do |setor| %>
          <tr>
            <td><%= setor.nomeSetor %></td>
            <td><%= setor.letraSetor %></td>
            <td><%= setor.ultimaSenha %></td>
            <td><%= link_to 'Ver', setor %></td>
            <td><%= link_to 'Editar', edit_setor_path(setor) %></td>
            <td><%= link_to 'Excluir', setor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    </div>
</div>
