<!DOCTYPE html>
<html>
  <head>
    <title>Sistema de Senha</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'foundation.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'app', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag 'vendor/jquery', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'vendor/foundation.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'app', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
